#banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(135deg, #f08c8c, #8cd3f6, #c98ef8);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  65% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 0% 50%;
  }
}

#banner #slider {
  position: absolute;
  width: 250px;
  height: 167px;
  top: 12%;
  left: calc(50% - 125px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: rotate 20s linear infinite;
  z-index: 2;
}

.message {
  display: none;
}

@keyframes rotate {
  from {
    transform: perspective(1000px) rotateX(-7deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-7deg) rotateY(360deg);
  }
}

#banner #slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
}

#banner #slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item img:hover {
  transform: scale(1.1);
  transition: all 300ms;
}

.item:hover .message {
  display: block;
}

#banner #slider:hover {
  animation-play-state: paused;
  cursor: pointer;
}

#banner #model {
  background-image: url(./images/girl.png);
  width: 100%;
  height: 85vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
}

#banner {
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

.message {
  display: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 10px;
  transition: all 0.3s ease;
}
